<div class="contenido">

    <div class="contenedor-izq">
        <div>
            <h1>BECAJAVA2020</h1>
            <div class="usuario">
                <img src="assets/Elipse 5.png">
                <p>José Lobos Sanhueza</p>
            </div>
            <ul class="lista-informaciones">
                <li><a>Informaciones</a></li>
                <ul>
                    <li (click)="notShow()">
                        <a [routerLink]="['/uno/dos']">Reportes</a>
                    </li>
                    <li (click)="notShow()">
                        <a [routerLink]="['/uno/menu']">Extras</a>
                    </li>
                    <li>
                        <a [routerLink]="['/tres']">Only Admins</a>
                    </li>
                </ul>
            </ul>
        </div>
        <a [routerLink]="['']">Cerrar sesión</a>
    </div>
    
    <div class="contenedor-der">
        <div class="cabecera">
            <img src="assets/btn-menu.png">
            <p>ES</p>
        </div>
        <img *ngIf="showImage" src="assets/Grupo 427.png">
        <router-outlet></router-outlet>
    </div>
    
</div>